body {
    background-image: url('bckgs/Backg-1.png');
    /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    /* Set text color to ensure readability on the background image */
}

.container {
    max-width: 550px;
    margin-bottom: 40px;
}


.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


h1,
h2,
h5 {
    color: #ffffff;
    /* White or a color that contrasts your background */
    font-family: 'Arial', sans-serif;
    /* Clean, modern fonts */
}

p,
span {
    color: #ccc;
    /* Lighter text for body content */
    font-family: 'Verdana', sans-serif;
}


.img-container {
    max-width: 700px;
}

/* Add this CSS for the image banner */
.image-banner {
    text-align: center;
    margin-top: 20px;
}


.image-banner img {
    max-width: 80%;
    height: auto;
}



.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-item img {
    transition: transform 0.5s ease;
}

.carousel-item:hover img {
    transform: scale(1.05);
}


/* Add this CSS for the big card */
.big-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.big-card h2 {
    font-family: 'cursive';
    color: #495057;
}

.big-card p {
    font-family: 'cursive';
    color: #6c757d;
}


/* Add this CSS for styling the social icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img {
    border-radius: 50%;
    /* Make the icons circular */
}

.social-icons:hover {
    transform: scale(1.2);
}




.footer {
    padding: 20px;
    background-color: #333;
    /* Lighter than pure black */
    color: #ccc;
    text-align: center;
}