body {
    background-image: url('/bckgs/Backg-1.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000; /* Set text color to ensure readability on the background image */
}

.container {
    max-width: 1440px;
}

.img-container {
    max-width: 700px;
}

/* Add this CSS for the image banner */
.image-banner {
    text-align: center;
    margin-top: 20px;
}


.image-banner img {
    max-width: 80%;
    height: auto;
}


/* Add this CSS for the big card */
.big-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.big-card h2 {
    font-family: 'cursive';
    color: #495057;
}

.big-card p {
    font-family: 'cursive';
    color: #6c757d;
}

.text-center img {
    width: 300px;
    height: 300px;
}

.text-center h1 {
    color: antiquewhite;
}

.text-center h1:hover {
    color: darkorange;
    transition: ease-in 0.5s;
}