body {
    background-image: url('/bckgs/Backg-1.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000; /* Set text color to ensure readability on the background image */
}

.container {
    max-width: 1440px;
    padding: 0 20px; /* Added padding for mobile devices */
}

.img-container {
    max-width: 700px;
}

/* Add this CSS for the image banner */
.image-banner {
    text-align: center;
    margin-top: 20px;
}



.rounded {
    border-radius: 50%!important;
}


.image-banner img {
    max-width: 80%;
    height: auto;
}



.big-card {
    background-color: rgba(255, 255, 255, 0.9); /* Transparent overlay */
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

.big-card h2 {
    font-family: 'cursive', sans-serif;
    color: #495057;
    font-size: 28px; /* Adjusted font size */
}

.big-card p {
    font-family: 'Arial', sans-serif;
    color: #6c757d;
    font-size: 16px; /* Improved readability */
    line-height: 1.6; /* Better text spacing */
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img {
    border-radius: 50%;
    /* Make the icons circular */
}

.social-icons:hover {
    transform: scale(1.2);
}

.text-center img {
    width: 300px;
    height: 300px;
}

/* .text-center h1 {
    color: antiquewhite;
}

.text-center h1:hover {
    color: darkorange;
    transition: ease-in 0.5s;
} */